/* General Typography */
body,
p,
ul,
li,
a {
  font-family: "Merriweather", serif;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Headers */
h1,
h2,
h3 {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  margin-top: 1rem;
  color: black;
}

/* Background Styling */
.gradient-background {
  background: repeating-radial-gradient(
    circle,
    #ff9a8b,
    #ff6a88,
    #ffa9a8,
    #ad88c6,
    #7469b6
  );
  background-size: 200% 200%;
  animation: gradient-animation 15s ease infinite;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Container Layout */
.container {
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
}

/* HOME PAGE container (grid layout) */
#home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 576px) {
  #home-container {
    display: flex;
    flex-direction: column;
  }
}

/* ABOUT PAGE and CV PAGE container */
#flex-container {
  display: flex;
  align-items: center;
}

.pets{
  gap: 20px
}
/* Left Text Section */
.text-section {
  background-color: #e1afd1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-section h1 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

.text-section .subtitle {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 2rem;
}


/* Buttons */
.custom-button {
  font-size: 1rem;
}

/* Image Section */
.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer Styling */
footer .link a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

footer .link a:hover {
  color: #ddd;
  text-decoration: underline;
}

