/* General Typography */
body, p, ul, li, a {
  font-family: 'Merriweather', serif;
  color: black; /* Ensure all text is black */
}

/* Headers */
h1, h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  margin-top: 1rem;
  color: black;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  margin-top: 1rem;
  color: black;
}

/* Background Styling */
.gradient-background {
  background: repeating-radial-gradient(circle, #FF9A8B, #FF6A88, #FFA9A8, #AD88C6, #7469B6);
  background-size: 200% 200%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.custom-button{
  font-size: 1rem;
}

/* Section Styling */
section {
  margin-bottom: 2rem;
  padding: 0 15px;
}

#cv, #about {
  max-width: 800px; /* Restrict the text width */
  margin: 0 auto; /* Center-align the content */
  padding: 20px; /* Add padding around the content */
}

/* Text Link Styling */
link {
  color: white !important;
  text-decoration: none;
  text-align: center;
  padding: 10px 0; 
  font-size: 1rem;
}

a:hover {
  text-decoration: underline;
}

/* CV List Styling */
ul {
  padding-left: 20px;
  list-style-type: disc;
}

li {
  margin-bottom: 0.5rem;
}

